
html, body{
    font-family: 'poppins'; sans-serif;
    margin: 0;
}

header{
background-color:white;
text-align: center;
}


.button.primary{
    align-items: center;
    display: flex;
    gap: 30px;
    background: rgb(231, 127, 127);
    color: black;
    border: 2px solid rgb(231, 127, 127);
    padding: 5px;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
    font-weight: 600;
}

.button.primary:hover{
    color: white;

}

.logo{
    display: flex;
    flex-direction: row;
    gap: 20px;
    text-align: center;
    height: 125px;
    font-size: 22px;
    justify-content:center;
}

#avatar{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 100%;
    border: black solid 2px;
    align-items: center;
    display: flex;
    gap: 16px;    
}

.avatar{
    align-items:center;
    display: flex;
    gap: 16px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 200px;
    width: 100%;
    height: 110px;
    margin: 0px;
    padding: 8px;
    background-color: white;
    box-shadow: 10px 44px 100px -22px grey;
}


ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 0;
    margin: 0;
    color: black;
    text-align: center
}

a{
    text-decoration: none;
    color: black;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
    font-weight: 600;
}

nav a:hover{
    color: rgb(231, 127, 127);

}

.en-tete{
    display: flex;
    justify-content: right;
    text-align: center; 
}

#image{
   align-items: center;
   gap: 8px;
  
}

p{  margin-top: 60px;
    margin-bottom: 20px;
    padding: 50px;
    white-space: pre-line;
}

.titre-long{
    margin-top: 50px;
    text-align: center;
    background-color: rgb(231, 127, 127);
    color: black;
}


#Entreprise{
    display: flex;
    text-align: left;
    justify-content: left;
}

.Description{
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 25px;
    white-space: pre-line;
}
#Equipe{
    display: flex;
    justify-content: right;  
    text-align: right;
    margin-right: 30px;
    margin-top: 45px;
    padding: 50px;
}  

.titre-long-2{
    margin-top: 20px;
    text-align: center;
    background-color: rgb(231, 127, 127);
    color: black;
}
z
.titre-long-3{
    margin-top: 20px;
    text-align: center;
    background-color: rgb(231, 127, 127);
    color: black;
}

#Valeurs{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    text-align: center;
    
}

#Valeurs div {
    width: 33%;
    padding: 20px;
}

#Valeurs p{
    margin-top: 0px;
}

#travels{
    display: flex;
    flex-direction:row;
    gap: 16px;
    display: flex;
    justify-content: center; /* Centrage horizontal */
    align-items: center;/* Centrage vertical */
}


.Pays{
    width: 300px;
    height: auto;
    border-radius: 16px;
    background-color: white;
    display: flex;
    margin top:20px;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 12px 20px 20px -3px black;
    gap: 16px;
}

#bresil{
    gap: 8px;
    align-items: center;
    object-fit: cover;
    height: 250px;
    border-radius: 9px;

}

#costa{
    gap: 8px;
    align-items: center;
    object-fit: cover;
    height: 250px;
    border-radius: 9px;
}

#colombie{
    gap: 8px;
    align-items: center;
    object-fit: cover;
    height: 250px;
    border-radius: 9px;
}

#mexique{
    gap: 8px;
    align-items: center;
    object-fit: cover;
    height: 250px;
    border-radius: 9px;
}
#cuba{
    gap: 8px;
    align-items: center;
    object-fit: cover;
    height: 250px;
    border-radius: 9px;
}


.title-pays{
   padding: 20px;
   align-items: center;
   text-transform: uppercase;
   justify-content: space-between;
}

.button{
    border-radius: 4px;
    text-decoration: none;
    padding: 8px;
    transition: all .3s ease-in-out;
    background-color:rgb(231, 127, 127);
    color:black;
    border: 2px solid rgb(231, 127, 127);
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
    display: flex;
    justify-content: center; /* Centrage horizontal */
    align-items: center;/* Centrage vertical */
}

.button:hover{
    color: white;}

h2{
    margin-top: -15px;
    margin-bottom: 30px;
    text-align: center;
}

h3{
    font-size: 15px; /* Changer la taille du texte en pixels */;
}

.button-secondary{
    display: flex;
    justify-content: center; /* Centrage horizontal */
    align-items: center;/* Centrage vertical */
    margin: 15px
    gap: 30px;
    background: rgb(231, 127, 127);
    color: black;
    border: 2px solid rgb(231, 127, 127);
    padding: 5px;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
    font-weight: 600;
    width: 35px;
}

.button.secondary:hover{
    color: white;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
}

.rating{
    display: inline-block;
    font-size: 22px; /* Taille des étoiles */
    color: gold; /* Couleur des étoiles */
    text-align: center;
    justify-content: center;
    text-shadow: 0 0 5px black;
}
