
html,

body{
    font-family: 'poppins', sans-serif;
    margin: 0;
}

header{

    background-color:white;
    text-align: center;
}

.button-primary{
        align-items: center;
        display: flex;
        color: black;
        font-weight: 600;
        gap: 30px;
        background: rgb(231, 127, 127);
        border-width: 2px;
        border-style: solid;
        border-color: rgb(231, 127, 127);
        border-image: initial;
        padding: 5px;
        transition: color 0.5s ease 0s;
        border-radius: 5px;
}

.button-primary:hover{
    color: white;

}

.logo{
    display: flex;
    flex-direction: row;
    gap: 20px;
    text-align: left;
    width: 200px;
    height: 200px;
    font-size: 22px;
}

#avatar{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 100%;
    border: black solid 2px;
    align-items: center;
    display: flex;
    gap: 16px;    
}

.avatar{
    align-items:center;
    display: flex;
    gap: 16px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 200px;
    width: 100%;
    height: 110px;
    margin: 0px;
    padding: 8px;
    background-color: white;
    box-shadow: 10px 44px 100px -22px grey;
}

ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 0;
    margin: 0;
    color: black;
    text-align: center
}

a{
    text-decoration: none;
    color: black;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
    font-weight: 600;
}

nav a:hover{
    color: rgb(231, 127, 127);
    text-align: center; 
}

.en-tete{
    display: flex;
    justify-content: right;
    text-align: center; 
}

p{  margin-top: 60px;
    margin-bottom: 20px;
    padding: 50px;
    white-space: pre-line;
}

#Entreprise{
    display: flex;
    text-align: left;
    justify-content: left;
}

.Description{
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 25px;
    white-space: pre-line;
}

#Equipe{
    display: flex;
    justify-content: right;  
    text-align: right;
    margin-right: 30px;
    margin-top: 45px;
    padding: 50px;
}  

#Valeurs{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    text-align: center;  
}

#Valeurs div{
    width: 33%;
    padding: 20px;
}

#Valeurs p{
    margin-top: 0px;
}

#image{
   align-items: center;
   gap: 8px;
}


.titre-long{
    margin-top: 20px;
    text-align: center;
    background-color: rgb(231, 127, 127); 
    color: black;
}

.titre-long-2{
    margin-top: 50px;
    text-align: center;
    background-color: rgb(231, 127, 127);
    color: black;
}

.titre-long-3{
    margin-top: -70px;
    margin-bottom: 35px;
    text-align: center;
    background-color: rgb(231, 127, 127);
    color: black;
}

#travels{
    display: flex;
    flex-direction: columnss;
    flex-direction:row;
    gap: 16px;
    display: flex;
    justify-content: center; /* Centrage horizontal */
    align-items: center;/* Centrage vertical */
}

.Pays{
    width: 300px;
    height: auto;
    border-radius: 16px;
    background-color: white;
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
    margin-top:20px;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 23px 20px 20px -3px black;
    box-shadow: 12px 20px 20px -3px black;
    gap: 16px;
    
}

#bresil{
    gap: 8px;
    align-items: center;
    object-fit: cover;
    height: 250px;
    width: 100%;
    border-radius: 9px;
}

#costa{
    gap: 8px;
    align-items: center;
    object-fit: cover;
    height: 250px;
    width: 100%;
    border-radius: 9px;
}

#colombie{
    gap: 8px;
    align-items: center;
    text-transform: uppercase;
    justify-content: space-between;
    object-fit: cover;
    height: 250px;
    width: 100%;
    border-radius: 9px;
}

#mexique{
    gap: 8px;
    align-items: center;
    object-fit: cover;
    height: 250px;
    width: 100%;
    border-radius: 9px;
}

#cuba{
    gap: 8px;
    align-items: center;
    object-fit: cover;
    height: 250px;
    width: 100%;
    border-radius: 9px;
}

.title-pays{
   padding: 20px;
   height: 80px;
   align-items: center;
   text-transform: uppercase;
   justify-content: space-between;
   display: flex;
}

.button{
    border-radius: 4px;
    text-decoration: none;
    padding: 8px;
    transition: all .3s ease-in-out;
    background-color:rgb(231, 127, 127);
    color:black;
    border: 2px solid rgb(231, 127, 127);
    display: flex;
    align-items: center;
    position:absolute;
    margin-left: 25px;
    margin-top: 50px;
    height: 9px;
}

.button:hover{
    color: white;
}

h2{
    display: flex;
    margin-top: -15px;
    text-align: center;
    flex-direction: row;
    margin-top: -50px;
}

h3{
    font-size: 15px; /* Changer la taille du texte en pixels */;
    margin-top: -20px;
    margin-bottom: 15px;
}

.button-secondary{
    justify-content: center; /* Centrage horizontal */
    text-align: center;
    background: black;
    color:white;
    border: 2px solid black;
    padding: 5px;
    transition: all .3s ease-in-out;
    border-radius: 4px;
    width: 205px;
    align-items: center;
}

.button-secondary:hover{
    color:rgb(231, 127, 127);
}

.plus{
    display: flex;
    justify-content: center;
    padding: 16px;
    font-size: 15px;
}

.com{
    margin-top: -40px;
    margin-bottom: -40px;
}
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
}

.rating{
    display: inline-block;
    font-size: 22px; /* Taille des étoiles */
    color: gold; /* Couleur des étoiles */
    text-align: center;
    justify-content: center;
    text-shadow: 0 0 5px black;
    margin-left: 45px;
}

.Prenom{
    margin-left: 50px;
    margin-bottom: -20px;
    font-size: 19px;
}

footer {
    background: rgb(231, 127, 127);
    color: white;
    align-items: flex-end;
    display: block;
    unicode-bidi: isolate;
    justify-content: space-around;
    display: flex;
    text-align: center;
    gap: 90px;
    height: 70px;
}


.email{
    color: black;
    display: flex;
    align-items: center; 
    padding: 0.1px
}

.telephone{
    color: black;
    display: flex;
    align-items: center;
    padding: 0.1px
}

.fa-brands.fa-instagram{
    margin-bottom: 23px;
}

.fa-brands.fa-linkedin{
    margin-bottom: 23px;
}

.fa-brands.fa-facebook{
    margin-bottom: 23px;
}



